LogicApp/LogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "method": "GET",
                            "uri": "https://imagetransformer--th46t6y.mangostone-385517a5.westeurope.azurecontainerapps.io/ImageTransform/@{body('Parse_JSON')?['id']}"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "else": {
                    "actions": {
                        "Replace_a_document_(V2)": {
                            "inputs": {
                                "body": {
                                    "_attachments": "@{body('Parse_JSON')?['_attachments']}",
                                    "_etag": "@{body('Parse_JSON')?['_etag']}",
                                    "_rid": "@{body('Parse_JSON')?['_rid']}",
                                    "_self": "@{body('Parse_JSON')?['_self']}",
                                    "_ts": "@body('Parse_JSON')?['_ts']",
                                    "fileName": "@{body('Parse_JSON')?['fileName']}",
                                    "id": "@{body('Parse_JSON')?['id']}",
                                    "modifiedFilePath": "@body('Parse_JSON')?['modifiedFilePath']",
                                    "originalFilePath": "@{body('Parse_JSON')?['originalFilePath']}",
                                    "partitionId": "@body('Parse_JSON')?['partitionId']",
                                    "state": 3
                                },
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "1"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('ImageTransform')}/colls/@{encodeURIComponent('ImageTransform')}/docs/@{encodeURIComponent(body('Parse_JSON')?['id'])}"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "less": [
                                "@body('Get_Blob_Metadata_(V2)')?['Size']",
                                1048576
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Get_Blob_Metadata_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Get_Blob_Metadata_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files/@{encodeURIComponent(encodeURIComponent('images',body('Parse_JSON')?['originalFilePath']))}"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_a_document_(V2)": {
                "inputs": {
                    "headers": {
                        "x-ms-documentdb-raw-partitionkey": "1"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('ImageTransform')}/colls/@{encodeURIComponent('ImageTransform')}/docs/@{encodeURIComponent(base64ToString(triggerBody()?['ContentData']))}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Get_a_document_(V2)')",
                    "schema": {
                        "properties": {
                            "_attachments": {
                                "type": "string"
                            },
                            "_etag": {
                                "type": "string"
                            },
                            "_rid": {
                                "type": "string"
                            },
                            "_self": {
                                "type": "string"
                            },
                            "_ts": {
                                "type": "integer"
                            },
                            "fileName": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "modifiedFilePath": {},
                            "originalFilePath": {
                                "type": "string"
                            },
                            "partitionId": {
                                "type": "integer"
                            },
                            "state": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_a_document_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(auto-complete)": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 30
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('imagetopic'))}/subscriptions/@{encodeURIComponent('imagereciver')}/messages/head",
                    "queries": {
                        "subscriptionType": "Main"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 30
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/71080959-5f34-4301-9235-6dfdb296fc6c/resourceGroups/akvelon-test/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/71080959-5f34-4301-9235-6dfdb296fc6c/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
                },
                "documentdb": {
                    "connectionId": "/subscriptions/71080959-5f34-4301-9235-6dfdb296fc6c/resourceGroups/akvelon-test/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb",
                    "id": "/subscriptions/71080959-5f34-4301-9235-6dfdb296fc6c/providers/Microsoft.Web/locations/westeurope/managedApis/documentdb"
                },
                "servicebus_1": {
                    "connectionId": "/subscriptions/71080959-5f34-4301-9235-6dfdb296fc6c/resourceGroups/akvelon-test/providers/Microsoft.Web/connections/servicebus",
                    "connectionName": "servicebus",
                    "id": "/subscriptions/71080959-5f34-4301-9235-6dfdb296fc6c/providers/Microsoft.Web/locations/westeurope/managedApis/servicebus"
                }
            }
        }
    }
}